.breadcrumb {
  background-color: #ffffff;
  padding: 10px;
}

.breadcrumb a {
  text-decoration: none;
  color: #333;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  font-weight: bold;
  color: #777;
}

.search-field {
  border-radius: 25px;
  width: 90%;
}

.btn-tbl-edit {
  background-color: #96a2b4;
  height: 30px !important;
  width: 30px !important;
  margin: 2px !important;
  line-height: 30px !important;
  color: #fff;

  // box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
  .material-icons {
    font-size: 16px !important;
  }

  &:hover {
    background-color: #888;
    color: #fff;
  }

  &:focus {
    background-color: #888;
  }
}

.btn-tbl-delete {
  background-color: #ff944f;
  height: 30px !important;
  width: 30px !important;
  margin: 2px !important;
  line-height: 30px !important;
  color: #fff;

  // box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2) !important;
  .material-icons {
    font-size: 16px !important;
  }

  &:hover {
    background-color: #ff9600;
    color: #fff;
  }

  &:focus {
    background-color: #ff9600;
  }
}

.containerBusqueda {
  display: flex;
}

.espacioagregar{
  margin-left: 10px;
}